.nutritionCard{
    width: 15vw;
    min-width: 200px;
    max-width: 258px;
    height: 124px;
    background-color: $color-bgLight;
    border-radius: 5px;

    display: flex;
    align-items: center;
    padding: 32px;

    &__icon{
        min-width: 60px;
        height: 60px;
        border-radius: 6px;

        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: lighten($color-primary,45%);
        color: $color-primary;

        &--protein{
            background-color: lighten($color-protein,25%);
            color: $color-protein;
        }

        &--carb{
            background-color: lighten($color-carb,40%);
            color: $color-carb;
        }

        &--lipid{
            background-color: lighten($color-lipid,30%);
            color: $color-lipid;
        }
    }

    &__info{
        color: $color-statsGrey;
        margin-left: 1rem
    }
}