@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeHolders";
@import "./utils/keyframes";

@import "./base/base";
@import "./base/typography";

@import "./components/nutritionCard";
@import "./components/radarGraph";
@import "./components/scoreGraph";
@import "./components/averageSpeedGraph";
@import "./components/dailyActivityGraph";
@import "./components/stats";

@import "./layouts/header";
@import "./layouts/sidebar";

@import "./pages/userPage";
@import "./pages/errorPage";
