*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 100vw;
  min-width: 1024px;
  max-width: 1440px;
  height: 1024px;
}

/* Montserrat-Regular */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/Roboto-Medium-webfont.woff") format("woff");
}
* {
  font-family: "Roboto";
}

h1 {
  font-size: 48px;
  color: #000000;
}
h1 em {
  color: #ff0000;
  font-style: normal;
}

p {
  font-size: 14px;
  color: #020203;
}
p strong {
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.textWhite {
  color: #ffffff;
}

.textBigger {
  font-size: 18px;
}

.textSmaller {
  font-size: 12px;
}

.textColorTitle {
  color: #000000;
}

.invisible {
  font-size: 0;
}

.nutritionCard {
  width: 258px;
  height: 124px;
  background-color: #fafafa;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 32px;
  margin: 1rem;
}
.nutritionCard__icon {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe6e6;
  color: #ff0000;
}
.nutritionCard__icon--protein {
  background-color: white;
  color: #4ab8ff;
}
.nutritionCard__icon--carb {
  background-color: #fffcf0;
  color: #fdcc0c;
}
.nutritionCard__icon--lipid {
  background-color: white;
  color: #fd5181;
}
.nutritionCard__info {
  margin-left: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  background-color: #020203;
  padding: 0 1rem;
}
.header__logo img {
  width: 178px;
  height: 61px;
}
.header nav {
  width: 100%;
  padding: 0 6rem;
}
.header__nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  font-size: 24px;
}
.header__nav li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar {
  background-color: #020203;
  width: 117px;
  height: 933px;
  max-height: 933px;
  margin-top: -1px;
  padding-top: 20%;
  padding-bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
}
.sidebar__list__icon {
  margin: 1rem 0;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 6px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__list__icon img {
  max-height: 32px;
}
.sidebar__copyrights {
  display: block;
  width: 200px;
  transform: rotate(-90deg);
  color: #ffffff;
}

.homepage {
  display: flex;
}

.box {
  margin: 3rem 4rem;
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.stats__activity {
  display: flex;
  flex-direction: column;
}
.stats__activity__detail {
  display: flex;
}
.stats__nutrition {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
