*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    width: 100vw;
    min-width: 1024px;
    max-width: 1440px;
    height: 1024px;
}