/* Montserrat-Regular */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff') format('woff'),; 
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('../fonts/Roboto-Medium-webfont.woff') format('woff'),; 
}

*{
    font-family: 'Roboto';
}

h1{
    font-size: 48px;
    color: $color-title;
    
    & em{
        color: $color-primary;
    }
}

p{
    font-size: 14px;
    color: $color-secondary;

    & strong{
        font-size: 14px;
        font-weight: bold;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

.textWhite{
    color:$color-tertiary;
}

.textBigger{
    font-size: 18px;
}

.textSmaller{
    font-size: 12px;
}

.textColorTitle{
    color: $color-title;
}

.invisible{
    font-size: 0;
}