$color-primary: #ff0000;
$color-secondary: #020203;
$color-tertiary: #ffffff;
$color-title: #000000;
$color-protein: #4ab8ff;
$color-carb: #fdcc0c;
$color-lipid: #fd5181;


// Breakpoints
$breakpoint-minScreenSize: 1024px;