$color-primary: #ffffff;
$color-secondary: #ff6060;
$color-tertiary: #f7f7f7;
$color-footer: #000000;

// Breakpoints
$breakpoint-maxDesktop: 1440px;
$breakpoint-minTablet: 800px;
$breakpoint-minMobile: 425px;