.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    &__logo{
        & img{
            max-width: 210px;
            max-height: 68px;

            @media (max-width: $breakpoint-minMobile) {
                max-width: 145px;
                max-height: 47px;
            }
        }
    }

    &__nav{
        padding-top: 12px;
        list-style: none;
        display: flex;
        color: $color-secondary;
        font-size: 24px;
        
        & li{
            margin-left: 5rem;

            @media (max-width: $breakpoint-minMobile) {
                margin-left: 2rem;
            }
        }

        @media (max-width: $breakpoint-minMobile) {
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    @media (max-width: $breakpoint-minMobile) {
        margin-bottom: 1rem;
    }
}

.active{
    text-decoration: underline;
}