.box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;

    &__title{
        margin-left: 5rem;
        margin-top: 2rem;

        @media (max-width: 1230px) {
            margin-left: 3rem;
            margin-top: 2rem;
        }

        & p{
            margin-top: 1rem;

            @media (max-width: 1230px) {
                margin-top: 0.5rem;
            }
        }
    }
}

.stats{
    display: flex;
    justify-content: space-around;

    margin: 2rem;
    min-height: 500px;
    max-height: 610px;
    height: 45vw;

    &__activity{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__detail{
            display: flex;
            justify-content: space-between;
        }
    }

    &__nutrition{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}